html {
  height: 100%;
  font-size: 62.5%;
}
body {
  position: relative;
  padding-bottom: 5rem;
  min-height: 100%;
  font-size: 1.6rem;
  font-family: 'Space Mono', Helvetica Neue, Helvetica, Arial, sans-serif;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
  line-height: 1.2;
  color: #404040;
}